langchain-openai
langchain-ollama
langchain==0.1.14
python-dotenv
langchain_community
langchain-community==0.0.26
langchain_core
streamlit
#
langchain-groq
openai
pandas
duckdb
langchain_chroma
faiss-cpu
langchain_huggingface
sentence_transformers
chromadb
langchain-text-splitters
wikipedia
pymupdf
arxiv
bs4
arxiv
pypdf
ipykernel
duckduckgo_search==5.3.1b1
ddgs
validators==0.28.1
youtube_transcript_api
unstructured
pytube
urllib3
numexpr
huggingface_hub
SQLAlchemy
mysql-connector-python
gradio
